<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="pointer-events: none;" class="d-block w-100"
                src="https://i.dell.com/sites/csimages/App-Merchandizing_Images/all/1600x700---aw-main-page.jpg"
                alt="First slide">
           
            <div class="carousel-caption d-none d-md-block">
                <h5>Niuvi Tecnologia</h5>
                <p>Fazendo Hoje o que se Pensa Amanhã</p>
            </div>

        </div>
    </div>